<%- include('../partials/header') %>

<div class="uk-container uk-padding">
    <h1 class="uk-text-center uk-text-uppercase uk-heading-primary uk-heading-line">
        <span>Credits</span>
    </h1>
    <p class="uk-text-center">
      Catch Hands would like to thank <a href="https://github.com/marcrd">Marc Rudkowski</a> for providing the the stock icon images for each fighter.
      <br>
      You can find other Super Smash Brothers Ultimate assets <a href="https://github.com/marcrd/smash-ultimate-assets">here</a>.
      <br>
      <sub>
          Disclaimer: All intellectual properties here are owned by Nintendo. All images/assets included are intended to be fair use.
      </sub>
      
    </p>
  </div>

<%- include('../partials/footer') %>