<%- include('../partials/header') %>

  <h1><%= fighter.name %></h1>
  <% if(user) { %>
    <a href="/mains/add/<%= id %>">Add Fighter</a>
  <% } else { %>
    <a href="/auth/google">Login to add this Fighter</a>
  <% } %>
  
<%- include('../partials/footer') %>