<%- include('../partials/header') %>

  <h1><%= title %></h1>
  <p>Character Page</p>

  <div class="uk-grid-small uk-grid-match uk-flex uk-flex-center uk-flex-middle" uk-grid>

    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-card-body">
        <a href="">Test</a>
      </div>
    </div>

  </div>

<%- include('../partials/footer') %>